.box1{
    background-color: #26282a !important;
    height: 120px;
}

.box2{
    background-color: #000000 !important;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}